<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <customer translate="label" module="customer">
            <groups>
                <password translate="label">
                    <fields>
                    	<flagbit_securepassword translate="label">
                            <label>Password Reset Timeout</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                  	
                    	</flagbit_securepassword>
                    </fields>
                </password>
            </groups>
        </customer>
    </sections>
</config>
